.layout {
    display: flex;
}

.layout-content {
    padding-left: var(--sidenav-short-width);
    transition: all 0.5s ease-out;
    max-width: 100%;
}

.layout-content.mobile {
    padding-bottom: var(--bottomnav-height);
    padding-left: 0;
}

.layout-content.expand-sidenav {
    padding-left: var(--sidenav-width);
}